@use 'variables.scss' as *;

.nav {
    display: flex;
    flex-direction: column;
}

.nav__logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 35px 38px;
}

.logo__text {
    color: $primary-2;
    font-size: 25px;
}

.nav__listing {
    padding: 32px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

.nav__item, .nav__item--active {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: row;
    cursor: pointer;
}

.nav__item {
    color: #B1B1B1;
}

.nav__item--active {
    color: $primary-3;
}